<div class="col-xs-8 col-xs-offs">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="user">
    <div class="form-group" [ngClass]="{'has-error': form.get('user.email').invalid && form.get('user.email').touched}">
      <label>Email:</label>
      <input type="text" class="form-control" [formControlName]="'email'">
      <p *ngIf="form.get('user.email').invalid && form.get('user.email').touched">
        <span *ngIf="form.get('user.email').errors['emailIsUsed']">This Email has been used</span>
        <span *ngIf="form.get('user.email').errors['email']">Please enter correct Email</span>
      </p>
    </div>
    <div class="form-group" [ngClass]="{'has-error':form.get('user.pass').invalid && form.get('user.pass').touched}">
      <label>Password:</label>
      <input type="password" class="form-control" [formControlName]="'pass'">
      <p
        *ngIf="form.get('user.pass').invalid && form.get('user.pass').touched">
        <span *ngIf="form.get('user.pass').errors['required']">The password shouldn't be blank!</span><br>
        <span *ngIf="!form.get('user.pass').errors['required'] && form.get('user.pass').errors['lengthError']">The password shouldn't be less {{ symbolCount }} symbols!</span>
      </p>
    </div>
    </div>
    <div class="form-group">
      <label>Choose country:</label>
      <select class="form-control" [formControlName]="'country'">
        <option value="ru">Russia</option>
        <option value="by">Belarus</option>
        <option value="ua">Ukraine</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input type="radio" [value]="ans.type" [formControlName]="'answer'">{{ans.text}}
      </label>

    </div>
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="form.invalid">Save</button>
  </form>
</div>

